.landing {    
    padding-top: calc(50px * var(--app-scale));
    
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__content {
        // padding: 88px 58px;
        position: relative;
        display: flex;
        gap: calc(30px * var(--app-scale));
        width: 45%;
        
        &__cube {
            display: inline-block;
            @include size(calc(40px * var(--app-scale)));
            background-color: #F02D01;
        }

        &__texts {
            color: white;
            width: 70%;

            & > h1:nth-child(1) {
                color: #F02D01;
                text-transform: uppercase;
                font-weight: bold;
                font-size: calc(56px * var(--app-scale));
                line-height: calc(41px * var(--app-scale));
                white-space: nowrap;
            }
            & > h1:nth-child(2) {
                color: #FFFFFF;
                text-transform: uppercase;
                font-weight: normal;
                font-size: calc(56px * var(--app-scale));
                margin-top: 10px;
            }
            & > p {
                color: #FFFFFF;
                font-weight: normal;
                font-size: calc(21px * var(--app-scale));
                margin-top: calc(40px * var(--app-scale));
            }
        }
    }

    &__label {
        position: absolute;
        bottom: calc(80px * var(--app-scale));
        left: calc(100px * var(--app-scale));
    }
}