.pyramid {
    position: relative;
    width: 52%;
    //min-width: 920px;//calc(920px * var(--app-scale));
    //max-width: 1020px;//calc(1020px * var(--app-scale));

    @media screen and (max-width: 1024px) {
        width: unset;
        transform: scale(0.9) translateX(0);
    }
    @media screen and (max-width: 950px) {
        transform: scale(0.7) translate(-15%, -15%);
    }
    @media screen and (max-width: 750px) {
        transform: scale(0.5) translate(-40%, -40%);
    }
    @media screen and (max-width: 550px) {
        transform: scale(0.4) translate(-80%, -70%);
    }
    @media screen and (max-width: 415px) {
        transform: scale(0.35) translate(-95%, -85%);
    }
    @media screen and (max-width: 360px) {
        transform: scale(0.3) translate(-120%, -130%);
    }

    & > img {
        width: calc(620px * var(--app-scale))
    }

    &__numerationContainer {
        position: absolute;
        top: 5%;
        left: 3%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: calc(245px * var(--app-scale));
        height: calc(100% - calc(175px * var(--app-scale)));

        &__item {
            width: calc(26px * var(--app-scale));
            height: calc(26px * var(--app-scale));
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: calc(13px * var(--app-scale));
            position: absolute;
            transform: translate(-50%,-50%);

            &:nth-child(1) {
                background-color: #B83D44;
                top: 100%;
                right: 100%;
            }
            &:nth-child(2) {
                background-color: #C39252;
                top: 75%;
                right: 75%;
            }
            &:nth-child(3) {
                background-color: #8B995D;
                top: 50%;
                right: 50%;
            } 
            &:nth-child(4) {
                background-color: #6F3996;
                top: 25%;
                right: 25%;
            }
            &:nth-child(5) {
                background-color: #3B8B91;
                top: 0;
                right: 0;
            }
        }
    }
    &__optionsContainer {
        position: absolute;
        top: 0;
        left: calc(315px* var(--app-scale));
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        // padding: 30px 0;
        width: calc(260px * var(--app-scale));//calc(260px * var(--app-scale));
        height: calc(100% - calc(158px * var(--app-scale)));
        // transform: translateX(-25%);

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: calc(13px * var(--app-scale));;
            position: absolute;

            &.hoverable {
                cursor: pointer;
            }

            img {
                width: calc(358px * var(--app-scale));
            }
            // transform: translate(-50%,-50%);

            &:nth-child(1) {
                top: 100%;
                left: 100%;
            }
            &:nth-child(2) {
                top: 75%;
                left: 75%;
            }
            &:nth-child(3) {
                top: 50%;
                left: 50%;
            } 
            &:nth-child(4) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(5) {
                top: 0;
                left: 0%;
            }


            &__text {
                position: absolute;
                left: 15%;
                color: black;
                font-size: calc(12px * var(--app-scale));;
                padding-right: 10%;
                text-transform: uppercase;
                font-weight: 600;
            }

            &__selectedImg {
                position: absolute;
                z-index: 2;
                right: 0;
                transform: translateX(50%);
                height: 105%;

                &__editIcon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    transition: 200ms;
                    text-transform: uppercase;
                    opacity: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }


            &:hover {
                .pyramid__optionsContainer__item__selectedImg__editIcon {
                    background-color: rgba(0,0,0,0.5);
                    opacity: 1;
                }
            }
        }

    }
}