.stageTitle {
    &__title {
        color: #B83D44;
        font-weight: bold;
        font-size: calc(28px * var(--app-scale));
        text-transform: uppercase;
    }

    &__definition {
        color: #000000;
        font-weight: bold;
        font-size: calc(22px * var(--app-scale));
        text-transform: uppercase;
    }

    &__description {
        color: #000000;
        font-size: calc(20px * var(--app-scale));
        width: 38%;
        margin-top: calc(10px * var(--app-scale));
        margin-bottom: calc(25px * var(--app-scale));
        height: calc(48px * var(--app-scale));

        @media screen and (max-width: 1024px) {
            width: 100%;
            height: auto;
        }
    }

    @media screen and (max-width: 1024px) {
        height: 20vh;
        @media screen and (max-height: 800px) {
            height: 30vh;
            // margin-bottom: 5vh;
        }
    }
}