.stage {
    &__flowerPyramidContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: calc(60px * var(--app-scale))
    }
    &__nextButton, &__backButton {
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100px * var(--app-scale));
        height: calc(100px * var(--app-scale));
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.disabled {
            cursor: unset;
            background-color: grey!important;
        }

        img {
            width: calc(36px * var(--app-scale));
            height: calc(36px * var(--app-scale));
        }
    }
    &__backButton {
        right: calc(100px * var(--app-scale));
        border-right: calc(1px * var(--app-scale)) solid white;

        img {
            transform: rotate(-180deg)
        }
    }

    .stageTitle__title, .flower__quarter__titles, .flower__quarter__circles div, .flower__quarter__images img, .stage__nextButton, .stage__backButton {
        transition: 200ms;
    }

    &.step1 {
        .stageTitle__title {
            color: #B83D44!important;
        }
        .flower__quarter__titles {
            color: #B83D44!important;
        }
        .flower__quarter__circles div {
            border-color: #B83D44!important;
        }
        .flower__quarter__images img {
            border-color: #B83D44!important;
        }
        .stage__nextButton {
            background-color: #B83D44;
        }
        .stage__backButton {
            // background-color: #B83D44;
        }
    }
    &.step2 {
        .stageTitle__title {
            color: #C39252!important;
        }
        .flower__quarter__titles {
            color: #C39252!important;
        }
        .flower__quarter__circles div {
            border-color: #C39252!important;
        }
        .flower__quarter__images img {
            border-color: #C39252!important;
        }
        .stage__nextButton {
            background-color: #C39252;
        }
        .stage__backButton {
            background-color: #B83D44;
        }
    }
    &.step3 {
        .stageTitle__title {
            color: #8B995D!important;
        }
        .flower__quarter__titles {
            color: #8B995D!important;
        }
        .flower__quarter__circles div {
            border-color: #8B995D!important;
        }
        .flower__quarter__images img {
            border-color: #8B995D!important;
        }
        .stage__nextButton {
            background-color: #8B995D;
        }
        .stage__backButton {
            background-color: #C39252;
        }
    }
    &.step4 {
        .stageTitle__title {
            color: #6F3996!important;
        }
        .flower__quarter__titles {
            color: #6F3996!important;
        }
        .flower__quarter__circles div {
            border-color: #6F3996!important;
        }
        .flower__quarter__images img {
            border-color: #6F3996!important;
        }
        .stage__nextButton {
            background-color: #6F3996;
        }
        .stage__backButton {
            background-color: #8B995D;
        }
    }
    &.step5 {
        .stageTitle__title {
            color: #3B8B91!important;
        }
        .flower__quarter__titles {
            color: #3B8B91!important;
        }
        .flower__quarter__circles div {
            border-color: #3B8B91!important;
        }
        .flower__quarter__images img {
            border-color: #3B8B91!important;
        }
        .stage__nextButton {
            background-color: #3B8B91;
        }
        .stage__backButton {
            background-color: #6F3996;
        }
    }
}


