@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

body {
    font-family: Inter;
    position: relative;
    // @include flex(row, center, center);
}

a {
    text-decoration: none;
    color: unset;
}

input:focus {
    outline: none;
}

img {
    -webkit-user-drag: none;
}

.app {
    @include size(100vw, 100vh);
    padding: calc(50px * var(--app-scale)) calc(60px * var(--app-scale));

    overflow-y: hidden;
    overflow-x: unset;
    @media screen and (max-width: 1024px) {
        // height: auto;
        width: unset;
        padding: 30px;
        overflow-y: unset;
        overflow-x: hidden;
    }

}

